<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ant.modules.sys.dao.MenuMapper" >
  <resultMap id="MenuResultMap" type="Menu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_show" property="isShow" jdbcType="CHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <association property="parent" javaType="Menu">
    	<id column="parent_id" property="id"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, parent_ids, name, href, target, icon, sort, is_show, permission, create_by, 
    create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="get" resultMap="MenuResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findByParentIdsLike" resultMap="MenuResultMap" parameterType="string">
  	select * from sys_menu m where m.parent_ids like '%${parentIds}%'
  </select>
  <select id="findAllList" resultMap="MenuResultMap">
  	select <include refid="Base_Column_List" /> from sys_menu m  order by m.sort
  </select>
  <select id="findByUserId" resultMap="MenuResultMap" parameterType="string">
  	SELECT
	m.*
	FROM
		sys_menu m,
		sys_user u,
		sys_role r,
		sys_user_role ur,
		sys_role_menu rm
	WHERE
		ur.user_id = u.id
	AND ur.role_id = r.id
	AND rm.role_id = r.id
	AND rm.menu_id = m.id
	AND u.id = #{userId}
	ORDER BY
		m.sort
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from sys_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByParent" parameterType="java.lang.String" >
    delete from sys_menu
    where parent_ids like '%${id}%'
  </delete>
  <insert id="insert" parameterType="Menu" >
    insert into sys_menu (id, parent_id, parent_ids, 
      name, href, target, 
      icon, sort, is_show, permission, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{parent.id,jdbcType=VARCHAR}, #{parentIds,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isShow,jdbcType=CHAR}, #{permission,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <update id="update" parameterType="Menu" >
    update sys_menu
    <set >
      <if test="parent != null" >
        parent_id = #{parent.id,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null" >
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=CHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="batchUpdate" parameterType="java.util.List">     
      update sys_menu m
      <trim prefix="set" suffixOverrides=",">    
      <trim prefix="parent_ids = case" suffix="end,">    
          <foreach collection="list" item="i"  index="index">    
              when (m.ID=#{i.id} ) then #{i.parentIds}    
          </foreach>
          else m.parent_ids 
       </trim>         
       </trim>     
  </update>
</mapper>